@font-face {
  font-family: "iconfont"; /* Project id 5039659 */
  src: url('iconfont.woff2?t=1760350154300') format('woff2'),
       url('iconfont.woff?t=1760350154300') format('woff'),
       url('iconfont.ttf?t=1760350154300') format('truetype'),
       url('iconfont.svg?t=1760350154300#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fanxuan:before {
  content: "\e609";
}

.suoxiao:before {
  content: "\e60a";
}

.tuichu:before {
  content: "\e60b";
}

.fankui:before {
  content: "\e60c";
}

.xunhuan:before {
  content: "\e60d";
}

.neizhidengxiao:before {
  content: "\e60e";
}

.bofangheji:before {
  content: "\e60f";
}

.shezhi:before {
  content: "\e610";
}

.quanping:before {
  content: "\e611";
}

.piufa:before {
  content: "\e612";
}

.xuanfuchuangkou:before {
  content: "\e613";
}

.pingmutongbu:before {
  content: "\e614";
}

.hejiwenjian:before {
  content: "\e615";
}

.zidingyidengxiao:before {
  content: "\e616";
}

.youxijiaohu:before {
  content: "\e617";
}

.yinlelvdong:before {
  content: "\e618";
}

.yuyan:before {
  content: "\e619";
}

.wenjian:before {
  content: "\e61a";
}

.shanchu:before {
  content: "\e61b";
}

.duoshebei:before {
  content: "\e61c";
}

