@font-face {
  font-family: "iconfont"; /* Project id 5039659 */
  src: url('iconfont.woff2?t=1760598484169') format('woff2'),
       url('iconfont.woff?t=1760598484169') format('woff'),
       url('iconfont.ttf?t=1760598484169') format('truetype'),
       url('iconfont.svg?t=1760598484169#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ram:before {
  content: "\e7ab";
}

.ram2:before {
  content: "\e68e";
}

.nic:before {
  content: "\e61d";
}

.pc:before {
  content: "\e773";
}

.cpu3:before {
  content: "\e6b0";
}

.cpu:before {
  content: "\e649";
}

.motherboard:before {
  content: "\e600";
}

.xianka:before {
  content: "\e9fb";
}

.laptop:before {
  content: "\e64a";
}

.battery:before {
  content: "\e6bf";
}

.sound:before {
  content: "\e652";
}

.hdd:before {
  content: "\e601";
}

.cpu2:before {
  content: "\e7fe";
}

.wode:before {
  content: "\e634";
}

.unmax:before {
  content: "\e63f";
}

.cleaner:before {
  content: "\e640";
}

.web:before {
  content: "\e643";
}

.info:before {
  content: "\e64b";
}

.refresh:before {
  content: "\e609";
}

.min:before {
  content: "\e60a";
}

.close:before {
  content: "\e60b";
}

.fankui:before {
  content: "\e60c";
}

.xunhuan:before {
  content: "\e60d";
}

.neizhidengxiao:before {
  content: "\e60e";
}

.bofangheji:before {
  content: "\e60f";
}

.settings:before {
  content: "\e610";
}

.max:before {
  content: "\e611";
}

.piufa:before {
  content: "\e612";
}

.xuanfuchuangkou:before {
  content: "\e613";
}

.hwinfo:before {
  content: "\e614";
}

.hejiwenjian:before {
  content: "\e615";
}

.zidingyidengxiao:before {
  content: "\e616";
}

.youxijiaohu:before {
  content: "\e617";
}

.yinlelvdong:before {
  content: "\e618";
}

.yuyan:before {
  content: "\e619";
}

.folder:before {
  content: "\e61a";
}

.delete:before {
  content: "\e61b";
}

.duoshebei:before {
  content: "\e61c";
}

